<template>
  <div class="container">
    <h1>Booking</h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" v-for="i in 5" :key="i">
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
          </template>

          <!-- <v-img height="250" :src="food_static_path + i.image"></v-img> -->

          <v-card-title>Table</v-card-title>

          <v-divider class="mx-4"></v-divider>

          <v-card-text>
            <v-chip-group active-class="deep-purple accent-4 white--text" column>
              <v-chip>xxx</v-chip>
            </v-chip-group>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="deep-purple lighten-2" light @click="buy(i)">
              <v-icon>mdi-plus-circle</v-icon> Booking
            </v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Booking",
  data: () => ({}),
  mounted() {},
  methods: {
    async booking(table_id) {
      console.log(table_id)
    }
  }
}
</script>

<style></style>
