<template>
  <div class="container">
    <h1>Food Dashboard</h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" v-for="(i, index) in foods" :key="index">
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
          </template>

          <v-img height="250" :src="food_static_path + i.image"></v-img>

          <v-card-title>{{ i.name }}</v-card-title>

          <v-divider class="mx-4"></v-divider>

          <v-card-title>Type: {{ i.type }}</v-card-title>

          <v-card-text>
            <v-chip-group active-class="deep-purple accent-4 white--text" column>
              <v-chip>{{ i.price }}</v-chip>
            </v-chip-group>
          </v-card-text>

          <v-card-actions>
            <v-btn color="deep-purple lighten-2" text @click="buy(i.price)"> Buy </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="deep-purple lighten-2" text @click="findFoodById(i.id)">Edit</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="red lighten-2" text @click="destroyFood(i.id)">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
          </template>

          <v-card-title class="justify-center">Add Food</v-card-title>

          <v-divider class="mx-4"></v-divider>
          <v-card-text class="text-center">
            <v-btn fab color="primary" @click="add_food_dialog = !add_food_dialog">
              <v-icon> mdi-plus </v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template slot="progress">
            <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
          </template>

          <v-card-title class="justify-center">Upload Foods</v-card-title>

          <v-divider class="mx-4"></v-divider>
          <v-card-text class="text-center">
            <v-btn fab color="primary" @click="upload_food_dialog = !upload_food_dialog">
              <v-icon> mdi-cloud-upload </v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
      </div>
    </div>
    <!-- edit food dialog -->
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline primary d-flex justify-center"> Edit Food </v-card-title>

        <div class="container">
          <v-form>
            <v-text-field label="name" v-model="food.name"></v-text-field>
            <v-select :items="food_types" v-model="food.type" label="type"></v-select>
            <v-text-field label="price" v-model="food.price"></v-text-field>
            <v-img class="mx-auto rounded-xl" max-height="150" max-width="250" :src="food_preview"></v-img>
            <v-file-input @change="onChageHandle" show-size label="image" v-model="food_data.image"></v-file-input>
            <v-btn color="primary" @click="editFood(food.id)">edit</v-btn>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- add food dialog -->
    <v-dialog v-model="add_food_dialog" width="500">
      <v-card>
        <v-card-title class="headline primary d-flex justify-center"> Add Food </v-card-title>

        <div class="container">
          <v-form>
            <v-text-field label="name" v-model="food_data.name"></v-text-field>
            <v-select :items="food_types" v-model="food.type" label="type"></v-select>
            <v-text-field label="price" v-model="food_data.price"></v-text-field>
            <v-img class="mx-auto rounded-xl" max-height="150" max-width="250" :src="food_preview"></v-img>
            <v-file-input @change="onChageHandle" show-size label="image" v-model="food_data.image"></v-file-input>
            <v-btn color="primary" @click="addFood">Add</v-btn>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- upload foods dialog -->
    <v-dialog v-model="upload_food_dialog" width="500">
      <v-card>
        <v-card-title class="headline primary d-flex justify-center"> Add Food </v-card-title>

        <div class="container">
          <v-form>
            <v-file-input show-size label="file input" v-model="file"></v-file-input>
            <v-btn color="primary" @click="upload_food">Upload</v-btn>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { get, post, postFile, put, destroy } from "../../utils/api"
import { API_URL, DOMAIN, FOOD_STATIC_PATH } from "../../constants/config"
import { findOne } from "../../utils/app"
export default {
  name: "Dashboard",
  components: {},
  data: () => ({
    foods: null,
    food_image: null,
    food_preview: null,
    loading: false,
    food: {
      id: "",
      name: "",
      type: "",
      price: "",
      image: ""
    },
    food_data: {
      name: "",
      type: "",
      price: "",
      image: null
    },
    food_types: ["DRINK", "DESSERT", "SAVORY"],
    dialog: false,
    add_food_dialog: false,
    upload_food_dialog: false,
    findOne: findOne,
    file: null,
    food_static_path: FOOD_STATIC_PATH
  }),
  mounted() {
    this.allfoods()
    console.log("session: ", this.$session.get("user"))
  },
  methods: {
    async allfoods() {
      const { data } = await get(`${DOMAIN}/${API_URL}/food`)
      this.foods = data
    },
    async findFoodById(food_id) {
      this.dialog = !this.dialog
      const { data } = await get(`${DOMAIN}/${API_URL}/food/${food_id}`)
      this.food = data[0]
    },
    async addFood() {
      this.food_data.type = this.food.type
      let formData = new FormData()
      formData.append("image", this.food_data.image)
      formData.append("food", JSON.stringify(this.food_data))
      const created = await post(`${DOMAIN}/${API_URL}/food`, formData, "multipart/form-data")
      this.dialog = false
      this.$router.go()
    },
    async upload_food() {
      let formData = new FormData()
      formData.append("foods", this.file)
      const uploaded = await postFile(`${DOMAIN}/${API_URL}/food/upload`, formData)
      this.upload_food_dialog = !upload_food_dialog
      this.$router.go()
    },
    async buy(price) {
      console.log(price)
    },
    async editFood(food_id) {
      const food = {
        name: this.food.name,
        type: this.food.type,
        price: this.food.price
      }
      let formData = new FormData()
      formData.append("image", this.food_data.image)
      formData.append("food", JSON.stringify(food))
      const success = await put(`${DOMAIN}/${API_URL}/food/${food_id}`, formData)
      this.dialog = !this.dialog
      this.$router.go()
    },
    async destroyFood(food_id) {
      const accept = confirm("do you want to delete ?")
      if (accept) {
        const success = await destroy(`${DOMAIN}/${API_URL}/food/${food_id}`)
      }
      this.$router.go()
    },
    async onChageHandle(e) {
      this.food_preview = URL.createObjectURL(e)
    }
  }
}
</script>

<style lang="scss" scoped></style>
