<template>
  <div class="container">
    <h1>Employee</h1>
    <v-data-table :headers="employee_headers" :items="employees" :items-per-page="5" class="elevation-1" dark>
      <template v-slot:[`item.id`]="{ item }">
        <v-icon medium class="mr-2" color="yellow" @click="editForm(item.id)"> mdi-pencil </v-icon>
        <v-icon medium color="error" @click="deleteEmployee(item.id)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
    <div class="text-right">
      <v-btn color="success" class="my-5" @click="create_emp_dialog = !create_emp_dialog"
        ><v-icon>mdi-plus</v-icon>created Employee</v-btn
      >
    </div>
    <!-- <v-dialog v-model="edit_emp_dialog">
      <v-card>
        <div class="container">
          <v-card-title>Edit Employee</v-card-title>
          <v-text-field v-model="employee.fname" label="fname"></v-text-field>
          <v-text-field v-model="employee.lname" label="lname"></v-text-field>
          <v-text-field v-model="employee.email" label="email"></v-text-field>
          <v-text-field v-model="employee.phone" label="phone"></v-text-field>
          <v-text-field v-model="employee.salary" label="salary"></v-text-field>
          <v-select
            :items="positions"
            item-text="position"
            item-value="position_id"
            v-model="employee.position_id"
          ></v-select>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="editEmployee(employee.id)">Edit</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-dialog> -->
    <v-dialog v-model="create_emp_dialog">
      <v-card>
        <div class="container">
          <v-card-title>Create Employee</v-card-title>
          <v-text-field v-model="employee.employee_code" label="employee_code"></v-text-field>
          <v-text-field v-model="employee.fname" label="fname"></v-text-field>
          <v-text-field v-model="employee.lname" label="lname"></v-text-field>
          <v-text-field v-model="employee.email" label="email"></v-text-field>
          <v-text-field v-model="employee.salary" label="salary"></v-text-field>
          <v-text-field v-model="employee.phone" label="phone"></v-text-field>
          <v-select
            :items="positions"
            item-text="position"
            item-value="position_id"
            v-model="employee.position_id"
            label="position"
          ></v-select>
          <v-img class="mx-auto rounded-xl" max-height="150" max-width="250" :src="img_preview"></v-img>
          <v-file-input @change="onChageHandle" v-model="employee.image"></v-file-input>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="createEmployee"> Create</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { get, post, postFile, put, destroy } from "../../utils/api"
import { API_URL, DOMAIN } from "../../constants/config"
import { findOne } from "../../utils/app"
export default {
  data: () => ({
    employee_headers: [
      { text: "firstname", align: "start", value: "fname" },
      { text: "lastname", value: "lname" },
      { text: "email", value: "email" },
      { text: "position", value: "position" },
      { text: "salary", value: "salary" },
      { text: "phone", value: "phone" },
      { text: "action", value: "id" }
    ],
    employees: [],
    employee: {
      id: null,
      fname: null,
      lname: null,
      email: null,
      salary: null,
      phone: null,
      position_id: null,
      image: null
    },
    edit_emp_dialog: false,
    create_emp_dialog: false,
    positions: [],
    img_preview: ""
  }),
  mounted() {
    this.allEmployee()
    this.allPosition()
  },
  methods: {
    async allEmployee() {
      const { data } = await get(`${DOMAIN}/${API_URL}/employee`)
      this.employees = data
    },
    async allPosition() {
      const { data } = await get(`${DOMAIN}/${API_URL}/employee/position`)
      this.positions = data
    },
    async findEmployeeById(employee_id) {
      const { data } = await get(`${DOMAIN}/${API_URL}/employee/${employee_id}`)
      this.employee = data
      console.log(this.employee)
      this.edit_emp_dialog = true
    },
    async createEmployee() {
      delete this.employee.id
      let formData = new FormData()
      formData.append("image", this.employee.image)
      formData.append("employee", JSON.stringify(this.employee))
      const success = await post(`${DOMAIN}/${API_URL}/employee`, formData, "multipart/form-data")
      this.$router.go()
    },
    async editEmployee(employee_id) {
      delete this.employee.id
      delete this.employee.position
      delete this.employee.employee_code
      const success = await put(`${DOMAIN}/${API_URL}/employee/${employee_id}`, this.employee)
      this.$router.go()
    },
    async deleteEmployee(employee_id) {
      const success = await destroy(`${DOMAIN}/${API_URL}/employee/${employee_id}`)
      this.$router.go()
    },
    async editForm(employee_id) {
      this.$router.push(`/profile/${employee_id}`)
    },
    async onChageHandle(e) {
      this.img_preview = URL.createObjectURL(e)
    }
  }
}
</script>

<style></style>
