<template>
  <v-main>
    <div class="container from-wraper text-center">
      <v-form class="form-input">
        <h1 class="mb-4">Login</h1>
        <v-text-field v-model="username" label="username"></v-text-field>
        <v-text-field type="password" v-model="password" label="password"></v-text-field>
        <v-btn :color="primary" @click="login">Login</v-btn>

        <v-btn color="red" class="ml-auto" text @click="dialog = !dialog"> signup </v-btn>
        <div class="col">
          <div class="separator">Social Login</div>
        </div>
        <div class="text-right">
          <v-btn @click="facebookLogin" color="primary">Facebook Login</v-btn>
          <v-btn @click="googleLogin" class="ml-5" dark color="#dd4b39">Google Login</v-btn>
        </div>
      </v-form>

      <v-dialog v-model="dialog" width="500">
        <v-card>
          <v-card-title class="headline primary d-flex justify-center"> Signup Form </v-card-title>

          <div class="container">
            <v-form>
              <v-text-field label="employee code" v-model="employee_code"> </v-text-field>
              <v-text-field label="username" v-model="username"> </v-text-field>
              <v-text-field type="password" label="password" v-model="password"> </v-text-field>
              <v-text-field type="password" label="confirm password" v-model="confirm_password"> </v-text-field>
            </v-form>
          </div>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="signup"> Signup </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-text-field hidden id="test-hidden"></v-text-field> -->
    </div>
  </v-main>
</template>

<script>
import { API_URL, DOMAIN } from "../../constants/config"
import { post, get, axiosGet } from "../../utils/api"
import firebase from "firebase"
import { decodeAccessToken } from "../../utils/auth"
export default {
  name: "App",

  components: {},

  data: () => ({
    primary: "primary",
    dialog: false,
    users: [
      { name: "Arm0", age: 20 },
      { name: "Arm1", age: 21 },
      { name: "Arm2", age: 22 },
      { name: "Arm3", age: 23 }
    ],
    employee_code: "",
    username: "",
    password: "",
    confirm_password: "",
    test: "",
    test2: ""
  }),
  mounted() {},
  methods: {
    async login() {
      try {
        const employee = {
          username: this.username,
          password: this.password
        }
        const success = await post(`${DOMAIN}/${API_URL}/employee/login`, employee)
        const { data } = success
        const user = await decodeAccessToken(data)
        this.$session.set("user", user)
        if (success.code === 200) this.$router.push("/dashboard")
      } catch (e) {
        console.log(e)
        alert("USERNAME OR PASSWORD INVALID")
      }
    },
    async googleLogin() {
      const provider = new firebase.auth.GoogleAuthProvider()
      const { additionalUserInfo, user, credential, operationType } = await firebase.auth().signInWithPopup(provider)
      let user_info = {
        facebook_id: additionalUserInfo.profile.id,
        fullname: additionalUserInfo.profile.name,
        email: additionalUserInfo.profile.email,
        profile_image: user.photoURL + "?height=500",
        access_token: credential.accessToken,
        user_type_id: 1
      }
      console.log("additionalUserInfo: ", additionalUserInfo)
      console.log("user: ", user)
      console.log("credential: ", credential)
      console.log("operationType: ", operationType)
      // this.$router.push("/dashboard")
    },
    async facebookLogin() {
      const provider = new firebase.auth.FacebookAuthProvider()
      provider.addScope("user_likes")
      // user_friends, user_age_range, user_birthday, user_gender, user_hometown, user_location, user_likes, user_link, user_photos, user_posts, user_videos
      const { additionalUserInfo, user, credential, operationType } = await firebase.auth().signInWithPopup(provider)
      let user_info = {
        facebook_id: additionalUserInfo.profile.id,
        fullname: additionalUserInfo.profile.name,
        email: additionalUserInfo.profile.email,
        profile_image: user.photoURL + "?height=500",
        access_token: credential.accessToken,
        refreshToken: user.refreshToken,
        metadata: user.metadata
      }
      console.log("additionalUserInfo: ", additionalUserInfo)
      console.log("user: ", user)
      console.log("credential: ", credential)
      console.log("operationType: ", operationType)
      // this.$router.push("/dashboard")
    },
    async signup() {
      if (this.password == this.confirm_password) {
        const employee = {
          employee_code: this.employee_code,
          username: this.username,
          password: this.password
        }
        this.dialog = !this.dialog
        console.log(employee)
        const signedup = await post(`${DOMAIN}/${API_URL}/employee/signup`, employee)
        console.log(signedup)
      } else {
        alert("password and confirm password not valid")
      }
    },
    deleteUser() {
      this.users.pop()
      console.log(this.users)
    },
    receiveVal(e) {
      console.log("e")
      console.log(e)
    }
  }
}
</script>
<style lang="scss" scoped>
.from-wraper {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .form-input {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
  }
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #000;
    }
    &:not(:empty)::before {
      margin-right: 0.5em;
    }
    &:not(:empty)::after {
      margin-left: 0.5em;
    }
  }
}
</style>
