<template>
  <v-app>
    <top-bar></top-bar>
    <v-main> <router-view></router-view></v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>
import TopBar from "@/components/Nav"
import Footer from "@/components/Footer"

export default {
  name: "Main",

  components: {
    TopBar,
    Footer
  }
}
</script>

<style></style>
