<template>
  <div class="container">
    <h1>Profile Management</h1>
    <div class="row text-center">
      <div class="col">
        <v-avatar size="150">
          <v-img max-height="150" max-width="250" :src="profile_img"></v-img>
        </v-avatar>
        <div class="row mt-8">
          <div class="col">
            <v-text-field v-model="employee_data.employee_code" label="employee code"></v-text-field>
            <v-text-field v-model="employee_data.fname" label="firstname"></v-text-field>
            <v-text-field v-model="employee_data.lname" label="lastname"></v-text-field>
            <v-text-field v-model="employee_data.phone" label="phone"></v-text-field>
          </div>
          <div class="col ml-16">
            <v-text-field v-model="employee_data.email" label="email"></v-text-field>
            <v-text-field v-model="employee_data.salary" label="salary"></v-text-field>
            <v-select
              :items="positions"
              item-text="position"
              item-value="position_id"
              v-model="employee_data.position_id"
              label="position"
            ></v-select>
            <v-img class="mx-auto rounded-xl" max-height="150" max-width="250" :src="preview_profile"></v-img>
            <v-file-input @change="onChageHandle" show-size label="image" v-model="employee_data.image"></v-file-input>
          </div>
        </div>
        <v-btn color="success" class="col-12" @click="update(employee_id)">SAVE</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { get, post, postFile, put, destroy } from "../../utils/api"
import { API_URL, DOMAIN, EMPLOYEE_STATIC_PATH } from "../../constants/config"
import { findOne } from "../../utils/app"
export default {
  data: () => ({
    employee_data: {
      employee_code: "",
      fname: "",
      lname: "",
      salary: "",
      position_id: "",
      image: null
    },
    profile_img: null,
    preview_profile: null,
    employee_statis_path: EMPLOYEE_STATIC_PATH,
    employee_id: null,
    positions: []
  }),
  mounted() {
    this.findEmployeeById()
    this.allPosition()
  },
  methods: {
    async findEmployeeById() {
      this.employee_id = this.$route.params.employee_id
      const { data } = await get(`${DOMAIN}/${API_URL}/employee/${this.employee_id}`)
      this.employee_data = data
      this.profile_img = `${EMPLOYEE_STATIC_PATH}/${data.image}`
      this.employee_data.image = null
    },
    async update(employee_id) {
      console.log(this.employee_data)
      let formData = new FormData()
      formData.append("image", this.employee_data.image)
      delete this.employee_data.image
      delete this.employee_data.id
      delete this.employee_data.employee_code
      delete this.employee_data.position
      formData.append("employee", JSON.stringify(this.employee_data))
      const success = await put(`${DOMAIN}/${API_URL}/employee/${employee_id}`, formData, "multipart/form-data")
      this.$router.go()
    },
    async allPosition() {
      const { data } = await get(`${DOMAIN}/${API_URL}/employee/position`)
      this.positions = data
    },
    async onChageHandle(e) {
      this.preview_profile = URL.createObjectURL(e)
    }
  }
}
</script>

<style></style>
