<template>
  <v-bottom-navigation v-model="route" color="primary" app fixed>
    <v-btn to="/dashboard">
      <span>Foods</span>
      <v-icon>mdi-food</v-icon>
    </v-btn>

    <v-btn to="/employees">
      <span>Employees</span>
      <v-icon>mdi-account-multiple</v-icon>
    </v-btn>
    <v-btn to="/booking">
      <span>Table Booking</span>
      <v-icon>mdi-book-outline</v-icon>
    </v-btn>
    <v-btn to="/login">
      <span>Logout</span>
      <v-icon>mdi-logout</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  data: () => ({
    route: ""
  }),
  mounted() {
    this.route = this.$route.matched[1].path
  }
}
</script>

<style></style>
