<template>
<div class=""> 
  <v-text-field v-model="input.username" label="username"></v-text-field>
  <v-text-field v-model="input.password" label="password"></v-text-field>
</div>
</template>

<script>
export default {
    props: {
        form: {
            default:() => ({
                username: "",
                password: ""
            })
        }
    },
    computed: {
        input: {
            get() {
                return this.form
            },
            set(val) {
                console.log(val);
                this.$emit('a', val)
            }
        }
    }
};
</script>

<style>
</style>