<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "App",


  data: () => ({
    //
  }),
};
</script>
<style lang="scss" scoped>
.from-wraper {
  display: flex;
  flex: 1;
  justify-content: start;
  flex-direction: column;
  height: 100%;

  .form-input {
    max-width: 750px;
    width: 100%;
    margin: auto;
  }
}
</style>